[submodule "polyscope"]
	path = polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "geometry-central"]
    path = geometry-central
    url = https://github.com/nmwsharp/geometry-central.git
[submodule "DGtal"]
    path = DGtal
    url = https://github.com/DGtal-team/DGtal.git